/*Icons start*/
.icon {
  position: relative;
  padding-left: 32px;
}
.icon::before,
.icon::after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
}
.icon::after {
  background-color: #ffcd34;
  /* Цвет заливки */
}
.icon:before {
  background: #000;
}
.icon--home:after {
  -webkit-mask: url('../images/icons/icon-home.svg') no-repeat center / contain;
  mask: url('../images/icons/icon-home.svg') no-repeat center / contain;
}
.icon--game:after {
  -webkit-mask: url('../images/icons/icon-game.svg') no-repeat center / contain;
  mask: url('../images/icons/icon-game.svg') no-repeat center / contain;
}
.icon--live:after {
  -webkit-mask: url('../images/icons/icone-live.svg') no-repeat center / contain;
  mask: url('../images/icons/icone-live.svg') no-repeat center / contain;
}
.icon--jackpot:after {
  -webkit-mask: url('../images/icons/icon-jackpot.svg') no-repeat center / contain;
  mask: url('../images/icons/icon-jackpot.svg') no-repeat center / contain;
}
.icon--sport:after {
  -webkit-mask: url('../images/icons/icon-sport.svg') no-repeat center / contain;
  mask: url('../images/icons/icon-sport.svg') no-repeat center / contain;
  width: 14px;
  height: 14px;
  left: 5px;
}
/*Icons end*/
@media (min-width: 768px) {
  .col__a\@s {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .col__e\@s {
    min-width: 1px;
    flex: 1;
  }
  /*Header start*/
  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    margin-left: auto;
  }
  /*Header end*/
}
@media (min-width: 1024px) {
  .cnt-vis {
    content-visibility: initial;
    contain-intrinsic-size: initial;
  }
  /*Header start*/
  .header__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  /*Header end*/
}
@media (min-width: 1280px) {
  /*Header start*/
  #menu {
    right: 24px;
    position: initial;
    height: initial;
    top: initial;
    z-index: initial;
    padding: initial;
    transform: initial;
    opacity: initial;
    visibility: visible;
    background: initial;
    border: initial;
    width: initial;
  }
  #menu .icon {
    padding-left: 0;
  }
  #menu .icon::before,
  #menu .icon::after {
    display: none;
  }
  .nav {
    flex-direction: row;
    column-gap: 40px;
  }
  .header__burger {
    display: none;
  }
  /*Header end*/
}
@media (min-width: 1440px) {
  .button {
    font-size: 1rem;
    padding: 14px 27px;
  }
}
